In [2]:
import sqlite3
import pandas as pd

In [51]:
db_file = 'db/stock_price(1d)_0_4000.db'
conn = sqlite3.connect(db_file)
c2 = conn.cursor()
c2.execute("select name from sqlite_master where type='table';")
a=c2.fetchall()
tables = [aa[0] for aa in a]

In [52]:
def convInt(i):
    year = i//10000
    m = (i - 10000*year)//100
    d = (i - 10000*year - 100*m)
    return "%02d/%02d/%04d"%(m,d,year)

In [54]:
for table in tables:
    f = pd.read_sql_query('select logDate, priceOpen, priceHigh, priceLow, priceClose, volume from {} where logDate<20200810'.format(table),conn) 
    f.insert(1,'Time',0)
    f.insert(7,'OI',0)
    f=f.rename(columns={"logDate":"Date","priceOpen":"Open","priceHigh":"High",
                  "priceLow":"Low","priceClose":"Close", 'volume':'Vol'})
    f['Date']=f['Date'].apply(convInt)
    f.to_csv('db/{}.csv'.format(table),index=False)